$colors: (
  colorWhite--1: #fff,
  colorRed--1: #ff5247,
  colorBlack--1: #111,
  colorGray--1: #efefef,
  colorGray--2: #767676,
  colorTransparentize--1: #ffffffcc,
  hoverGray--1: rgba(0, 0, 0, 0.05),
  hoverGray--2: rgba(0, 0, 0, 0.1),
  hoverTransparentize--1: #f0f0f0,
  hoverRed--1: #e60023,
  colorOverlay--1: rgba(0, 0, 0, 0.2),
  colorOverlay--2: rgba(0, 0, 0, 0.3),
  colorOverlay--3: rgba(0, 0, 0, 0.4),
);
