.pinterest-button {
  font-size: map-get($text-size, mediumSize);
  font-weight: map-get($text-weight, mediumWeight);
  font-family: map-get($font-family, headingFont);
  border-radius: 24px;
  border: none;
  &__red {
    background-color: map-get($colors, colorRed--1);
    color: map-get($colors, colorWhite--1);
    &:hover {
      background-color: map-get($colors, hoverRed--1);
    }
  }
  &__gray {
    background-color: map-get($colors, colorTransparentize--1);
    color: map-get($colors, colorBlack--1);
    &:hover {
      background-color: map-get($colors, hoverTransparentize--1);
    }
  }
  &--dotted {
    padding: 6px 8px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &--icon {
    height: 32px;
    width: 32px;
    color: map-get($colors, colorBlack--1);
  }
  &--bigger {
    padding: 12px 16px;
  }
}
