.searcher__input {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 24px;
  padding: 0px 4px 0px 36px;
  color: map-get($colors, colorGray--2);
  font-family: map-get($font-family, textFont);
  font-size: map-get($text-size, mediumSize);
  font-weight: map-get($text-weight, mediumWeight);
  @include flexCentered($justify-content: flex-start);
  &:active,
  &:focus,
  &:focus-visible {
    border: none;
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.502);
  }
}
.searcher__icon {
  position: absolute;
  height: 100%;
  top: 35%;
  left: 32px;
  color: map-get($colors, colorGray--2);
}
.searcher__input:focus ~ .searcher__icon,
.searcher__input:active ~ .searcher__icon {
  display: none;
}
.searcher__input:focus,
.searcher__input:active {
  padding: 0px 4px 0px 16px;
}
