.loader-container {
  width: 100%;
  @include flexCentered($flex-direction: column);

  .loader__icon {
    font-family: map-get($font-family, headingFont);
    font-size: map-get($heading-size, mediumSize);
    font-weight: map-get($text-weight, bolderWeight);
    margin-bottom: 32px;
  }
  .loader__message {
    width: 35%;
    font-family: map-get($font-family, headingFont);
    font-size: map-get($heading-size, mediumSize);
    font-weight: map-get($text-weight, bolderWeight);
  }
}
