.tag {
  background-color: map-get($colors, hoverGray--1);
  padding: 8px 16px;
  border-radius: 50px;
  display: inline-block;
  font-weight: map-get($text-weight, bolderWeight);
  font-family: map-get($font-family, headingFont);
  font-size: map-get($text-size, mediumSize);
  cursor: pointer;
  &:hover {
    background-color: map-get($colors, hoverGray--2);
  }
}
